* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}
#container {
  position: relative;
  max-width: 80%;
  align-items: center;
  margin: auto;
  padding: 10px;
}
#header-img {
  width: 75px;
  height: auto;
}
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
li {
  display: inline-block;
  font-size: 1rem;
  padding: 0px 5px 0px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
input {
  display: block;
  width: 15em;
}
.form-center {
  display: flex;
  justify-content: center;
}
form {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#intro {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
  background-color: #a9ddd6;
  border-radius: 5px;
}

#discover {
  display: block;
  text-align: center;
}
#routes,
#features {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
  text-align: justify;
}
.route-img {
  width: 200px;
  height: 150px;
}
#container-1,
#container-2 {
  display: flex;
  margin: 0;
  padding: 0;
}
.img-div {
  margin: 10px;
  text-align: center;
}
#wrapper-1 .text,
#wrapper-2 .text,
#wrapper-3 .text,
#wrapper-4 .text {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

#wrapper-1:hover .text,
#wrapper-2:hover .text,
#wrapper-3:hover .text,
#wrapper-4:hover .text {
  visibility: visible;
}
