* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}
#container {
  position: relative;
  max-width: 80%;
  align-items: center;
  margin: auto;
  padding: 10px;
}
#header-img {
  width: 75px;
  height: auto;
}
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
li {
  display: inline-block;
  font-size: 1rem;
  padding: 0px 5px 0px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
input {
  display: block;
  width: 15em;
}
.form-center {
  display: flex;
  justify-content: center;
}
form {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#intro {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
  background-color: #a9ddd6;
  border-radius: 5px;
}

#discover {
  display: block;
  text-align: center;
}

#routes,
#features {
  max-width: 750px;
  margin: 10px auto;
  text-align: justify;
}
.route-img {
  width: 288px;
  height: 216px;
  border-radius: 2px;
}
.text {
  color: rgba(255, 251, 251, 0.905);
  font-family: "Roboto", sans-serif;
}
.img-div {
  width: 100%;
  margin: 20px 0px 0px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 24px;
  justify-content: center;
}
#wrapper-1 .text,
#wrapper-2 .text,
#wrapper-3 .text,
#wrapper-4 .text {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

#wrapper-1:hover .text,
#wrapper-2:hover .text,
#wrapper-3:hover .text,
#wrapper-4:hover .text {
  visibility: visible;
}
.route-img:hover {
  -webkit-filter: blur(1.5px);
  filter: blur(1.5px);
}
@media (max-width: 600px) {
  .img-div {
    display: flex;
    flex-direction: column;
  }
}
