* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}
#container {
  max-width: 80%;
  align-items: center;
  margin: auto;
  padding: 10px;
}
#header-img {
  width: 75px;
  height: auto;
}
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
li {
  display: inline-block;
  font-size: 1rem;
  padding: 0px 5px 0px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

#intro {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
  background-color: #a9ddd6;
  border-radius: 5px;
}
#discover {
  display: block;
  text-align: center;
}
#routes {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
  text-align: justify;
}
.route-img {
  width: 200px;
  height: auto;
}
